@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.container .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  height: 152px;
}

.container .header .header_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 200px;
  justify-items: center;
  width: 1200px;
}

.container .header .item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .item_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  width: 300px;
}

.container .header .item_1 .header_logo {
  background-image: url("../img/header_logo.png");
  width: 72px;
  height: 72px;
}

.container .header .item_1 .header_logo_2 {
  background-image: url("../img/header_logo2.png");
  width: 185px;
  height: 35px;
}

.container .header .item_2 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  width: 240px;
  background: rgba(45, 166, 221, 0.2);
  border-radius: 999px;
  height: 37px;
  font-family: "Montserrat-semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #254152;
}

.container .header .item_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: 30px;
      grid-template-rows: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.container .header .item_3 .phone {
  background-image: url("../img/header_phone.png");
  background-size: cover;
  width: 25px;
  height: 25px;
}

.container .header .item_3 .text {
  font-family: "Montserrat-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #254152;
}

.container .border {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 1px;
  background: rgba(37, 65, 82, 0.15);
}

.container .links_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
}

.container .links_wrapper .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
  grid-column-gap: 24px;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat-semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #254152;
}

.container .links_wrapper .links .btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  width: 166px;
  padding: 5px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: #bcd249;
  border-radius: 30px;
  height: 35px;
}

.container .links_wrapper .links .btn .calc {
  display: -ms-grid;
  display: grid;
  width: 26px;
  height: 26px;
  background-image: url("../img/calc.svg");
}

.container .links_wrapper .links .btn .text {
  display: -ms-grid;
  display: grid;
}

.container .screen_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 470px;
  width: 1300px;
  margin-top: 40px;
  background: url("../img/screen_1.jpg");
  background-size: cover;
}

.container .screen_1 .contain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-left: 70px;
}

.container .screen_1 .contain .text_big {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 118%;
  text-transform: uppercase;
  color: #254152;
}

.container .screen_1 .contain .text_small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin-top: 110px;
}

.container .screen_2 .text_big {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 118%;
  text-transform: uppercase;
  color: #254152;
}

.container .screen_2 .text_small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
  margin-top: 20px;
}

.container .screen_2 .contain_2 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 100px;
  margin-top: 80px;
}

.container .screen_2 .contain_2 .numbers {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  font-family: "Montserrat-semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 120%;
  /* or 86px */
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_2 .contain_2 .text_small {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  height: 730px;
  margin-top: 140px;
  background: #e7f2f9;
}

.container .screen_3 .contain_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 1200px;
  height: 100px;
  margin-top: 100px;
}

.container .screen_3 .text_big {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 118%;
  text-transform: uppercase;
  color: #254152;
}

.container .screen_3 .text_small {
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_3 .cards {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 100px;
  margin-top: 80px;
}

.container .screen_3 .cards .card {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.container .screen_3 .cards .card .img_1,
.container .screen_3 .cards .card .img_2,
.container .screen_3 .cards .card .img_3,
.container .screen_3 .cards .card .img_4 {
  width: 76px;
  height: 76px;
}

.container .screen_3 .cards .card .img_1 {
  background-image: url("../img/card_1.png");
}

.container .screen_3 .cards .card .img_2 {
  background-image: url("../img/card_2.png");
}

.container .screen_3 .cards .card .img_3 {
  background-image: url("../img/card_3.png");
}

.container .screen_3 .cards .card .img_4 {
  background-image: url("../img/card_4.png");
}

.container .screen_3 .cards .card .text_small_bold {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  font-family: "Montserrat-bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  text-align: center;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_3 .cards .card .text_small {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  height: 910px;
}

.container .screen_4 .head_text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 1200px;
  height: 100px;
  margin-top: 100px;
}

.container .screen_4 .head_text .text_big {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 118%;
  text-transform: uppercase;
  color: #254152;
}

.container .screen_4 .head_text .text_small {
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_4 .video_screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  width: 1200px;
}

.container .screen_4 .video_screen .video {
  background-image: url("../img/video.jpg");
  width: 760px;
  height: 426px;
}

.container .screen_4 .video_screen .text_small_bold {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  font-family: "Montserrat-bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_4 .video_screen .text_small {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_4 .video_screen .link {
  font-family: "Montserrat-semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2da6dd;
  margin-top: 40px;
}

.container .screen_5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
  justify-items: center;
  width: 100%;
  height: 1660px;
  background: #e7f2f9;
}

.container .screen_5 .head_text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 1200px;
  height: 100px;
  margin-top: 100px;
}

.container .screen_5 .head_text .text_big {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 118%;
  text-transform: uppercase;
  color: #254152;
}

.container .screen_5 .head_text .text_small {
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_5 .cards_prices {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 300px;
      grid-template-rows: 300px;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 300px;
}

.container .screen_5 .cards_prices .card {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 40px;
  margin-top: 90px;
}

.container .screen_5 .cards_prices .card .img_1,
.container .screen_5 .cards_prices .card .img_2,
.container .screen_5 .cards_prices .card .img_3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 999px;
  width: 300px;
  height: 300px;
}

.container .screen_5 .cards_prices .card .img_1 {
  background-image: url("../img/round_img_1.jpg");
}

.container .screen_5 .cards_prices .card .img_2 {
  background-image: url("../img/round_img_2.jpg");
}

.container .screen_5 .cards_prices .card .img_3 {
  background-image: url("../img/round_img_3.jpg");
}

.container .screen_5 .cards_prices .snip {
  font-family: "Montserrat-semibold";
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_5 .cards_prices .price {
  font-family: "Montserrat-bold";
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2da6dd;
}

.container .screen_5 .list_head {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin-top: 90px;
  font-family: "Montserrat-bold";
  font-size: 28px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_5 .list_wrapper {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 40px;
  margin-bottom: 100px;
}

.container .screen_5 .list_wrapper .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Montserrat-semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_5 .list_wrapper .list li {
  margin: 20px 0;
  padding-left: 20px;
  width: 270px;
  height: 45px;
}

.container .screen_5 .list_wrapper .list li::marker {
  content: url("../img/list.svg");
}

.container .screen_5 .list_wrapper .list .link {
  font-family: "Montserrat-semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2da6dd;
  margin-top: 20px;
}

.container .screen_6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  height: 1075px;
}

.container .screen_6 .head_text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 1200px;
  height: 100px;
  margin-top: 100px;
}

.container .screen_6 .head_text .text_big {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 118%;
  text-transform: uppercase;
  color: #254152;
}

.container .screen_6 .head_text .text_small {
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .screen_6 .examples_screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 960px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.container .screen_6 .examples_screen .big_screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 40px;
      grid-template-columns: 40px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../img/examples.jpg");
  width: 960px;
  height: 497px;
  padding: 20px;
}

.container .screen_6 .examples_screen .big_screen .left_arrow {
  background-image: url("../img/left_arrow.png");
  width: 40px;
  height: 40px;
}

.container .screen_6 .examples_screen .big_screen .right_arrow {
  background-image: url("../img/right_arrow.png");
  width: 40px;
  height: 40px;
}

.container .screen_6 .examples_screen .small_screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px;
      grid-template-columns: 100px 100px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  margin-top: 20px;
  width: 960px;
  height: 100px;
}

.container .screen_6 .examples_screen .small_screen .img_1 {
  background-image: url("../img/example_1.jpg");
}

.container .screen_6 .examples_screen .small_screen .img_2 {
  background-image: url("../img/example_2.jpg");
}

.container .contact_screen {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  height: 500px;
  background: #e7f2f9;
  padding: 100px;
}

.container .contact_screen .contact_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 1200px;
  height: 100%;
}

.container .contact_screen .contact_wrapper .left_side .title .text_big {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 118%;
  text-transform: uppercase;
  color: #254152;
}

.container .contact_screen .contact_wrapper .left_side .title .text_small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
  margin-top: 20px;
}

.container .contact_screen .contact_wrapper .right_side {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 80px;
      grid-template-rows: 60px 80px;
}

.container .contact_screen .contact_wrapper .right_side input {
  width: 560px;
  height: 60px;
  padding: 0 20px;
  background: rgba(37, 65, 82, 0.2);
  border-radius: 10px;
  border: 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: rgba(37, 65, 82, 0.65);
}

.container .contact_screen .contact_wrapper .right_side input:nth-child(2) {
  margin-top: 20px;
}

.container .contact_screen .contact_wrapper .right_side .button_send {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 190px;
  margin-top: 40px;
  background-color: #254152;
  border-radius: 999px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
}

.container .contact_screen .contact_wrapper .right_side .processing_personal_data {
  margin-top: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: rgba(37, 65, 82, 0.65);
}

.container .contact_screen .contact_wrapper .right_side .processing_personal_data span {
  color: #254152;
}

.container .using_materials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  height: 1084px;
  padding: 140px;
}

.container .using_materials .title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 1200px;
  height: 100px;
}

.container .using_materials .text_big {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 118%;
  text-transform: uppercase;
  color: #254152;
}

.container .using_materials .text_small {
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .using_materials .cards {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -ms-grid-rows: 525px;
      grid-template-rows: 525px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin-top: 80px;
}

.container .using_materials .cards .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  width: 260px;
  height: 525px;
  -webkit-box-shadow: 0px 0px 15px rgba(37, 65, 82, 0.2);
          box-shadow: 0px 0px 15px rgba(37, 65, 82, 0.2);
  border-radius: 10px;
  padding: 40px 20px;
}

.container .using_materials .cards .card .img {
  width: 220px;
  height: 220px;
  background-image: url("../img/bag.png");
}

.container .using_materials .cards .card .text_1 {
  margin-top: 40px;
  font-family: 'Montserrat-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .using_materials .cards .card .text_2 {
  margin-top: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .using_materials .cards .card .link {
  margin-top: 40px;
}

.container .using_materials .cards .card .link a {
  font-family: 'Montserrat-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2DA6DD;
}

.container .using_materials .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  width: 160px;
  height: 30px;
}

.container .using_materials .arrows .left_arrow {
  background-image: url("../img/left_blue_arrow.svg");
  background-size: cover;
  width: 10px;
  height: 100%;
}

.container .using_materials .arrows .grey_dot {
  background-image: url("../img/greyDot.svg");
  width: 8px;
  height: 9px;
  background-size: auto;
}

.container .using_materials .arrows .blue_dot {
  background-image: url("../img/blueDot.svg");
  width: 8px;
  height: 9px;
  background-size: auto;
}

.container .using_materials .arrows .right_arrow {
  background-image: url("../img/right_blue_arrow.svg");
  background-size: cover;
  width: 10px;
  height: 30px;
}

.container .machine_plastering {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 90px;
  justify-items: center;
  width: 100%;
  height: 1360px;
  background: #e7f2f9;
}

.container .machine_plastering .title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 1200px;
  height: 100px;
  margin-top: 100px;
}

.container .machine_plastering .title .text_big {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 38px;
  line-height: 118%;
  text-transform: uppercase;
  color: #254152;
}

.container .machine_plastering .title .text_small {
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .machine_plastering .snip_cards {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 100%;
}

.container .machine_plastering .snip_cards .card {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 40px;
}

.container .machine_plastering .snip_cards .card .card_number {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 4px solid #2DA6DD;
  border-radius: 999px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 75%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .machine_plastering .snip_cards .card .img_1,
.container .machine_plastering .snip_cards .card .img_2,
.container .machine_plastering .snip_cards .card .img_3,
.container .machine_plastering .snip_cards .card .img_4,
.container .machine_plastering .snip_cards .card .img_5,
.container .machine_plastering .snip_cards .card .img_6,
.container .machine_plastering .snip_cards .card .img_7,
.container .machine_plastering .snip_cards .card .img_8 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 999px;
  width: 260px;
  height: 260px;
}

.container .machine_plastering .snip_cards .card .img_1 {
  background-image: url("../img/snip_1.jpg");
}

.container .machine_plastering .snip_cards .card .img_2 {
  background-image: url("../img/snip_2.jpg");
}

.container .machine_plastering .snip_cards .card .img_3 {
  background-image: url("../img/snip_3.jpg");
}

.container .machine_plastering .snip_cards .card .img_4 {
  background-image: url("../img/snip_4.jpg");
}

.container .machine_plastering .snip_cards .card .img_5 {
  background-image: url("../img/snip_5.jpg");
}

.container .machine_plastering .snip_cards .card .img_6 {
  background-image: url("../img/snip_6.jpg");
}

.container .machine_plastering .snip_cards .card .img_7 {
  background-image: url("../img/snip_7.jpg");
}

.container .machine_plastering .snip_cards .card .img_8 {
  background-image: url("../img/snip_8.jpg");
}

.container .machine_plastering .snip_cards .card .snip {
  font-family: "Montserrat-semibold";
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #254152;
}

.container .machine_plastering .link_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 1200px;
  justify-items: end;
}

.container .machine_plastering .link_wrapper a {
  font-family: 'Montserrat-semibold';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2DA6DD;
}
