@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-semibold";
  src: url("../fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.container .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  height: 152px;
  border: 1px solid #000;
}

.container .header .header_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
}

.container .header .item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .item_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  width: 300px;
}

.container .header .item_1 .header_logo {
  background-image: url("../img/header_logo.png");
  width: 72px;
  height: 72px;
}

.container .header .item_1 .header_logo_2 {
  background-image: url("../img/header_logo2.png");
  width: 185px;
  height: 35px;
}

.container .header .item_2 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  width: 240px;
  background: rgba(45, 166, 221, 0.2);
  border-radius: 999px;
  height: 37px;
  font-family: "Montserrat-semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #254152;
}

.container .header .item_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: 30px;
      grid-template-rows: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.container .header .item_3 .phone {
  background-image: url("../img/header_phone.png");
  background-size: cover;
  width: 25px;
  height: 25px;
}

.container .header .item_3 .text {
  font-family: "Montserrat-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #254152;
}

.container .border {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 1px;
  background: rgba(37, 65, 82, 0.15);
}

.container .links_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 1200px;
  justify-items: space-between;
}

.container .links_wrapper .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr 2fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 2fr 1fr 2fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-family: "Montserrat-semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #254152;
}

.container .links_wrapper .links .btn {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  width: 166px;
  padding-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: #bcd249;
  border-radius: 30px;
  height: 35px;
}

.container .links_wrapper .links .btn .calc {
  display: -ms-grid;
  display: grid;
  width: 26px;
  height: 26px;
  background-image: url("../img/calc.svg");
}

.container .links_wrapper .links .btn .text {
  display: -ms-grid;
  display: grid;
}
